# General
.DS_Store

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Build and test output
dist/
dist-baseline/
coverage/
test-results/
a11y-report/

# npm dependencies
node_modules/
.generated/

# Dev files
.vscode/
Biomefile
